.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    margin-bottom: 20px;
    background-color: rgba(173, 216, 230, 0.445);

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .app__title {
        margin: 10px 0;

        @include media(t) {
          font-size: 24px;
        }
      }
    }
  }

  .main {
    flex: 1;
  }

  .footer {
    margin-top: 20px;
    border-top: 1px solid #ddd;

    .footer__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      gap: 20px;

      @include media(t) {
        flex-direction: column;
      }

      .course-link {
        .school-logo {
          display: block;
          width: 100px;
        }

        @include media(t) {
          order: 1;
        }
      }

      .info {
        &__link {
          color: #666;

          &:hover {
            color: #444;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
