.card__item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: $box-border-radius;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .item__model {
    margin-bottom: 7px;
  }

  .item__price::after {
    content: ' $'
  }
}