.store {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include media(d) {
    flex-direction: column;
  }

  &__content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: max-content;

    @include media(t) {
      grid-template-columns: 1fr;
    }
  }

  &__filter {
    width: 300px;
    height: max-content;
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: $box-border-radius;

    @include media(d) {
      width: 100%;
      order: -1;
      min-height: inherit;
    }
    background-color: rgba(144, 179, 76, 0.493);

    .filter__element {
      display: block;

      &-slider {
        margin-bottom: 20px;
      }
    }
  }
}
