.store {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include media(t) {
    flex-direction: column;
    gap: 10px;
  }

  &__content {
    flex: 1;

    .store__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .store__info-select {
        border: none;
        border-bottom: 1px solid #bbb;
        font-size: 14px;
        cursor: pointer;
        outline: transparent;
      }
    }
    .store__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      height: max-content;

      @include media(d) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media(m) {
        grid-template-columns: 1fr;
      }
    }
  }
}
