.popup__overflow {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-primary, 0.5);

  .popup {
    position: relative;

    &__content {
      background-color: #fff;
      padding: 40px 20px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      text-align: center;

      @include media(m) {
        width: 260px;
        padding: 20px 10px;
      }
    }

    &__close {
      position: absolute;
      top: -42px;
      right: -42px;
      background-color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: 700;

      @include media(m) {
        top: -50px;
        right: -20px;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}
