.slider {
  height: 10px;
  width: calc(100% - 20px);
  margin: 0 auto 30px;
  background-color: $color-secondary-light;

  .slider__info {
    display: flex;
    justify-content: space-between;

    .slider-value {
      padding: 15px 5px 5px;
    }
  }

  .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px;
    border-radius: 9px;
    cursor: pointer;

    &::before,
    &::after {
      display: none;
    }
  }
}
