.control {
  display: block;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  background-color: transparent;
  font-size: 20px;
  line-height: 23px;
  color: $color-dark-3xl;

  svg {
    display: block;
    margin: auto;
    fill: $color-dark-xl;
  }

  &__svg-arrow {
    width: 14px;
    height: 6px;
  }

  &__svg-end {
    width: 25px;
    height: 11px;
  }

  &__svg-step {
    width: 10px;
    height: 11px;
  }

  &.disabled {
    border-color: $color-dark-s;
    cursor: unset;

    svg {
      fill: $color-dark-s;
    }
  }

  &.active {
    background-color: $color-primary;
    cursor: unset;
  }

  &:not(.disabled, .active):hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
    cursor: pointer;
  }

  &:not(.disabled, .active):active {
    border-color: $color-primary;
    background-color: $color-primary;
  }
}
