.slider {
  width: 100%;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(d) {
    justify-content: space-around;
  }

  @include media(t) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .slider__container {
    width: 990px;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    justify-content: space-between;

    @include media(d) {
      width: 580px;
      grid-template-columns: repeat(2, 270px);

      .slider__item:nth-child(3) {
        display: none;
      }
    }

    @include media(t) {
      order: -1;
      grid-template-columns: repeat(1, 270px);
      margin-bottom: 20px;
      width: 100%;
      justify-content: center;

      .slider__item:nth-child(2) {
        display: none;
      }
    }
  }

  .slider__control-next {
    order: 1;

    @include media(t) {
      margin-left: 80px;
    }
  }
}
