@import "../base/variables";
@import "../base/responsive";

body.pets {
  position: relative;

  .header {
    position: sticky;
    top: 0;
    background-color: $color-light-xl;
  }

  .header-container {
    height: 120px;

    .logo-container {
      .logo-text__title {
        color: $color-dark-l;

        &:hover {
          color: $color-dark-3xl;
        }
      }

      .logo-text__subtitle {
        color: $color-dark-3xl;
      }
    }

    .burger {
      .burger-line {
        background-color: #000;
      }
    }

    .header-nav {
      .logo-text__title {
        color: $color-primary;

        &:hover {
          color: $color-primary-light;
        }
      }
      .logo-text__subtitle {
        color: $color-light-xl;
      }

      @include media(t) {
        background-color: rgba(#513d2f, 0.8);

        .logo-container {
          background-color: $color-light-xl;

          .logo-text__title {
            color: $color-dark-l;

            &:hover {
              color: $color-dark-3xl;
            }
          }

          .logo-text__subtitle {
            color: $color-dark-3xl;
          }
        }
      }
    }

    .nav-list {
      .nav-item {
        .nav-link {
          color: $color-dark-l;

          &:hover {
            color: $color-dark-3xl;
          }

          &.active {
            color: $color-dark-3xl;
          }
        }
      }

      @include media(t) {
        background-color: $color-light-xl;
      }
    }
  }

  .main {
    background-color: $color-light-l;
  }

  .article__pets {
    @include media(d) {
      padding-bottom: 76px;
    }

    @include media(m) {
      padding-bottom: 44px;
    }

    .article__title {
      max-width: 400px;
      margin: 0 auto 60px;
      text-align: center;

      @include media(d) {
        margin-bottom: 30px;
      }

      @include media(m) {
        margin-bottom: 40px;
      }
    }

    .pets-grid {
      display: grid;
      grid-template-columns: repeat(4, 270px);
      justify-content: space-between;
      gap: 30px 40px;

      @include media(d) {
        grid-template-columns: repeat(2, 270px);
        justify-content: center;

        div:nth-child(7),
        div:nth-child(8) {
          display: none;
        }
      }

      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 270px);

        div:nth-child(4),
        div:nth-child(5),
        div:nth-child(6) {
          display: none;
        }
      }
    }

    .pagination {
      display: flex;
      gap: 20px;
      width: max-content;
      margin: 60px auto 0;

      @include media(d) {
        margin-top: 40px;
      }

      @include media(m) {
        gap: 10px;
      }
    }
  }
}
