body.pets {
  @import "../base/variables";

  position: relative;

  .header {
    position: sticky;
    top: 0;
    background-color: $color-light-xl;
  }

  .header-container {
    height: 120px;

    .logo-container {
      .logo-text__title {
        color: $color-dark-l;

        &:hover {
          color: $color-dark-3xl;
        }
      }

      .logo-text__subtitle {
        color: $color-dark-3xl;
      }
    }

    .nav-list {
      .nav-item {
        .nav-link {
          color: $color-dark-l;

          &:hover {
            color: $color-dark-3xl;
          }

          &.active {
            color: $color-dark-3xl;
          }
        }
      }
    }
  }

  .main {
    background-color: $color-light-l;
  }

  .article__pets {
    margin-bottom: 15px;

    .article__title {
      max-width: 400px;
      margin: 0 auto 45px;
      text-align: center;
    }

    .pets-grid {
      display: grid;
      grid-template-columns: repeat(4, 270px);
      justify-content: space-between;
      row-gap: 30px;
    }

    .pagination {
      display: flex;
      gap: 20px;
      width: max-content;
      margin: 45px auto 0;
    }
  }
}
