body.pets {
  @import "../base/variables";

  .header-container {
    height: 120px;

    .logo-container {
      .logo-text__title {
        color: $color-dark-l;

        &:hover {
          color: $color-dark-3xl;
        }
      }

      .logo-text__subtitle {
        color: $color-dark-3xl;
      }
    }

    .nav-list {
      .nav-item {
        .nav-link {
          color: $color-dark-l;

          &:hover {
            color: $color-dark-3xl;
          }

          &.active {
            color: $color-dark-3xl;
          }
        }
      }
    }
  }
}
