.garage__cars {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .garage__line {
    display: flex;
    width: 100%;
    height: 80px;
    border: 1px solid #eee;

    .engine-controls {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .car-track {
      flex: 1;
      display: flex;
      align-items: center;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;

      .car {
        width: 100px;
        height: 40px;
        display: block;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .car-controls {
      order: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
