*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  @include fontGeorgia();

  &.lock {
    overflow-y: hidden;
  }

  main {
    flex: 1;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @include media(d) {
    padding: 0 30px;
  }

  @include media(t) {
    padding: 0 10px;
  }
}

p {
  @include fontArial();
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button {
  cursor: pointer;
}

h1,
h2,
h4,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

li {
  list-style: none;
}

input {
  outline: transparent;
}
